# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.tmp
*.lock
*.hprof

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
*.code-workspace

# Flutter/Dart specific
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
build/
pubspec.lock

# iOS specific
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Podfile.lock

# Android specific
android/.gradle/
android/app/build/
android/local.properties
android/.idea/

# macOS specific
macos/Flutter/ephemeral/
macos/Pods/
macos/Podfile.lock

# Windows specific
windows/flutter/ephemeral/

# Web specific
web/.dart_tool/
web/flutter/

# Linux specific
linux/flutter/ephemeral/

# Firebase specific
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
